form>h2 {
    font-weight:bolder;
}

.loginForm {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #fb907091;
    box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
    justify-content: center;
}

#loginPage {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 140px;
    background-image:url('../../assets/2.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:auto;
    background-position: 80px 60px

}

.inputs {
    text-align: left;
    margin-top: 30px;
}

label,
input,
button {
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: #F55C23;
}

input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.btn {
    margin-top: 40px;
    font-style:inherit;
    background: #ef481a;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 20px #3c3e4162, -6px -6px 20px #464a4e62;
    transition: 0.5s;
}

.btn:hover {
    box-shadow: none;
}
.register-link{
    padding-top: 15px;
}