.tp-site-footer p,
.tp-site-footer li {
    color: #fff;
}
.tp-site-footer .tp-lower-footer,
.tp-site-footer-2 .tp-lower-footer {
    text-align: center;
    position: relative;
    background: #000000;
}

.tp-site-footer .tp-lower-footer .row,
.tp-site-footer-2 .tp-lower-footer .row {
    padding: 20px 0;
    position: relative;
}


.tp-site-footer .tp-lower-footer .copyright,
.tp-site-footer-2 .tp-lower-footer .copyright {
    display: inline-block;
    font-size: 15px;
    font-size: 0.9375rem;
    margin: 0;
}

@media (max-width: 991px) {

    .tp-site-footer .tp-lower-footer .copyright,
    .tp-site-footer-2 .tp-lower-footer .copyright {
        float: none;
        display: block;
    }
}